<div class="container">
    
<h1>My Account</h1>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card-body">
                <h5 class="card-title">User Overview</h5>
                <!--left container contains basic info-->
            
                <div class="jumbotron myaccount-left text-center" style="height: 40rem;">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/myaccount.jpg" alt="Card image cap">
                        <div class="card-body myaccount-card">
                            <p class="username">{{user.userName}}</p>
                            <p class="credit">
                                <button type="button" class="btn btn-primary">
                                    {{user.credits}} <span class="badge badge-light">credits</span>
                                </button>
                            </p>
                            <div class="jumbotron status-card" style="background-color: white; margin-bottom: 0px; padding: 32px;">
                                <div class="member-status">{{user.memberStatus}}</div>
                                <div class="skipper-status">{{user.skipperStatus}}</div>
                            </div>
                            <div class="edit" style="margin-bottom: 10px;">
                                <button type="button" class="btn btn-primary" style="width:150.38px;" data-toggle="modal" data-target="#updateInfoModal">
                                    Update My Info
                                </button>
                            </div>
                            <div class="changePassword">
                                <button type="button" class="btn btn-primary" style="width:150.38px;" data-toggle="modal" data-target="#changePasswordModal">
                                    Change Password
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6">
        <div class="card-body">
            <h5 class="card-title">Details</h5>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h4>Member Status</h4>
                    <table class="table table-hover member-status-table">
                        <tbody>
                            <tr>
                                <td>Current credits</td>
                                <td>{{user.credits}}</td>
                            </tr>
                            <tr>
                                <td>Member Status</td>
                                <td>{{user.memberStatus}}</td>
                            </tr>
                            <tr>
                                <td>Skipper Status</td>
                                <td>{{user.skipperStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h4>Sailing Qualifications and Experience</h4>
                    <table class="table table-hover skills-table">
                        <tbody>
                            <tr>
                                <td>Sailing Qualifications</td>
                                <td>{{user.sailingQualifications}}</td>
                            </tr>
                            <tr>
                                <td>Skills</td>
                                <td>{{user.skills}}</td>
                            </tr>
                            <tr>
                                <td>Experience</td>
                                <td>{{user.sailingExeprience}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <h4>Personal Informaton</h4>
                    <table class="table table-hover info-table">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{user.firstName}} {{user.lastName}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{user.street}}, {{user.city}}, {{user.province}}, {{user.country}}, {{user.postalCode}}</td>
                            </tr>
                            <tr>
                                <td>Mobile Phone</td>
                                <td>{{user.mobilePhone}}</td>
                            </tr>
                            <tr>
                                <td>Home Phone</td>
                                <td>{{user.homePhone}}</td>
                            </tr>
                            <tr>
                                <td>Work Phone</td>
                                <td>{{user.workPhone}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <my-account-emergency-contacts [contact]="emergencyContact"></my-account-emergency-contacts>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
<br />

<br />
<volunteer></volunteer>
<br />
    <div class="container">
        <!--RESERVATION-->
        <reservations></reservations>
    </div>
</div>





<!-- Update Info Modal -->
<div class="modal fade" id="updateInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title lead text-center jumbotron" id="updateInfoModalTitle">Update Information</h4>
                </div>
            
                <div class="modal-body">
                    
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label for="InputFirstName">First Name</label>
                                <input type="text" class="form-control" id="InputFirstName" aria-describedby="firstnameHelp" [(ngModel)]="changedUser.firstName"/>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label for="InputLastName">Last Name</label>
                                <input type="text" class="form-control" id="InputLastName" aria-describedby="lastnameHelp"  [(ngModel)]="changedUser.lastName"/>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label for="InputEmail">Email Address</label>
                            <input type="email" class="form-control" id="InputEmail"  [(ngModel)]="changedUser.email">
                        </div>
                        <!--
                            
                        <div class="form-group">
                            <label for="InputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"  [(ngModel)]="changedUser.password">
                        </div>
            
                        -->
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label for="InputHomePhone">Home Phone</label>
                                <input type="text" class="form-control" id="InputHomePhone"  [(ngModel)]="changedUser.homePhone" />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label for="InputMobilePhone">Mobile Phone</label>
                                <input type="text" class="form-control" id="InputMobilePhone"  [(ngModel)]="changedUser.mobilePhone" />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label for="InputHomePhone">Work Phone</label>
                                <input type="text" class="form-control" id="InputWorkPhone"  [(ngModel)]="changedUser.workPhone"/>
                            </div>
                        </div>
                        
                        <!-- Address part. -->
                        <hr />
            
                        <div class="form-group"><label>Emergency Contact 1</label></div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label for="InputEmergencyName1">Name</label>
                                <input type="text" class="form-control" id="InputEmergencyName1"  [(ngModel)]="changedUser.emergencyContacts.name1">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label for="InputEmergencyNumber1">Contact Info</label>
                                <input type="text" class="form-control" id="InputEmergencyNumber1" [(ngModel)]="changedUser.emergencyContacts.phone2">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group"><label>Emergency Contact 2</label></div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label for="InputEmergencyName2">Name</label>
                                <input type="text" class="form-control" id="InputEmergencyName2" [(ngModel)]="changedUser.emergencyContacts.name2">
                            </div>
            
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label for="InputEmergencyNumber2">Contact Info</label>
                                <input type="text" class="form-control" id="InputEmergencyNumber2" [(ngModel)]="changedUser.emergencyContacts.phone2">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-lg-8 col-md-8 col-sm-8">
                                <label for="InputSailingQualification">Sailing Qualification</label>
                                <input type="text" class="form-control" id="InputSailingQualification" [(ngModel)]="changedUser.sailingQualifications">
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label for="InputSailingExperience">Sailing Experience</label>
                                <select class="form-control" id="InputSailingExperience" [(ngModel)]="changedUser.sailingExeprience">
                                    <option>Professional</option>
                                    <option>Intermediate</option>
                                    <option>Beginner</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputSkills">Skills</label>
                            <input type="text" class="form-control" id="InputSkills" [(ngModel)]="changedUser.skills">
                        </div>

                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateUserInfo()">Update</button>
                </div>
             </div>   
        </div>  
    </div>
</div>






<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title lead text-center jumbotron" id="updateInfoModalTitle">Change Password</h4>
                </div>
            
                <div class="modal-body" style="padding: 30px;">
                    <div class="form-group">
                        <label for="password1" class="">Current Password</label>
                        <input id="password1" class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="currentPassword" />
                    </div>
                    <div class="form-group">
                        <label for="password2">New Password</label>
                        <input id="password2" class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="newPassword" />
                    </div>
                    <div class="form-group">
                        <label for="password3">New Password Confirm</label>
                        <input id="password3" class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="newPasswordConfirm" />
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="changePassword()">Update</button>
                </div>
             </div>   
        </div>  
    </div>
</div>