<div class="container">
    
<h1>My Account</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card-body">
                <h5 class="card-title">User Overview</h5>
                <!--left container contains basic info-->
            
                <div class="jumbotron myaccount-left text-center" style="height: 40rem;">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="../../assets/images/myaccount.jpg" alt="Card image cap">
                        <div class="card-body myaccount-card">
                            <p class="username">{{Username}}</p>
                            <p class="credit">
                                <button type="button" class="btn btn-primary">
                                    {{Credits}} <span class="badge badge-light">credits</span>
                                </button>
                            </p>
                            <div class="jumbotron status-card" style="background-color: white">
                                <div class="member-status">{{MemberStatus}}</div>
                                <div class="skipper-status">{{SkipperStatus}}</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Details</h5>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h4>Member Status</h4>
                    <table class="table table-hover member-status-table">
                        <tbody>
                            <tr>
                                <td>Current Credits</td>
                                <td>{{Credits}}</td>
                            </tr>
                            <tr>
                                <td>Member Status</td>
                                <td>{{MemberStatus}}</td>
                            </tr>
                            <tr>
                                <td>Skipper Status</td>
                                <td>{{SkipperStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h4>Sailing Qualifications and Experience</h4>
                    <table class="table table-hover skills-table">
                        <tbody>
                            <tr>
                                <td>Sailing Qualifications</td>
                                <td>{{SailingQualifications}}</td>
                            </tr>
                            <tr>
                                <td>Skills</td>
                                <td>{{Skills}}</td>
                            </tr>
                            <tr>
                                <td>Experience</td>
                                <td>{{SailingExeprience}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <h4>Personal Informaton</h4>
                    <table class="table table-hover info-table">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{FirstName}} {{LastName}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{Street}}, {{City}}, {{Province}}, {{Country}}, {{PostalCode}}</td>
                            </tr>
                            <tr>
                                <td>Mobile Phone</td>
                                <td>{{MobilePhone}}</td>
                            </tr>
                            <tr>
                                <td>Home Phone</td>
                                <td>{{HomePhone}}</td>
                            </tr>
                            <tr>
                                <td>Work Phone</td>
                                <td>{{WorkPhone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
<br />
<my-account-emergency-contacts></my-account-emergency-contacts>
<br />
    <div class="container">
        <!--RESERVATION-->
        <reservations></reservations>
    </div>
</div>