#footer {
	z-index: 10;
    background: #343A40;
    align-self: flex-end;
    bottom: 0;
    height: 250px;
}

img {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul{
    margin-top: 15px;
    list-style-type: none;
}
