
<div id="footer">
  <div class="container">
        <div class="row">
     <!--First column-->
     <div class="col-md-6">
        <img src="../../../assets/images/logo.png" alt="LMYC logo" width="70%" style="margin-right: 15px;">
    </div>
    <!--/.First column-->

    <!--Second column-->
    <div class="col-md-6">
        <ul>
            <li><a class="nav-link" routerLink='/faq' style="color: #849dbc;">FAQ</a></li>
            <li><a class="nav-link" routerLink='/contact-us' style="color: #849dbc;">Contact Us</a></li>
            <li><a class="nav-link" routerLink='/membership' style="color: #849dbc;">Become A Member</a></li>
        </ul>
    </div>
    <!--/.Second column-->
</div>
    <p id="copyright">
        Copyright © 2015 LMYC - Lower Mainland Yacht Co-Op. All Rights Reserved.
    </p>
  </div>

  </div>

      <!-- Footer Links
    <div class="container footer">
        <div class="row">

            <!--First column
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column

            <!--Second column
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column
        </div>
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
    </div>
    <!--/.Footer Links -->

