<div class="welcome">
    <div class="welcome-container">
        <h1 class="header"><span>Welcome</span></h1>
        <div class="welcome-left">
            <button class="btn btn-outline-dark" type="button" style="width: 200px;" [routerLink]="['/membership']">Become A Member</button>
        </div>
        <div class="welcome-right">
            <button class="btn btn-outline-dark" type="button" style="width: 200px;" [routerLink]="['/booking']">Reserve</button>
        </div>
    </div>
</div>