h1 {
    color: #343a40;
    padding-top: 50px;
}

h4 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.welcome {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    width: 100%;
    background-image: url("assets/images/welcome-boat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.85);
    width: 550px;
    height: 225px;
    margin: auto;
    margin-top: 250px;
}

.welcome-left, .welcome-right {
    margin: 50px;
    margin-top: 25px;
    float: left;
}

.welcome-right {
    margin-left: 0;
}
/*.image-content {
    background-color: rgba(0, 0, 0, 0.30);
    padding: 40px 120px 40px 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-content > h1 {
    color: white;
}*/

.image-content > button {
    color: #343a40;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    font-style: italic ;
    font-family: 'Century Gothic';
}