<div class="welcome">
    <div class="welcome-container">
        <h1 class="header"><span>Welcome to LMYC</span></h1>
        <h4 class="header">Lower Mainland Yacht Co-Op</h4>
        <!--<button class="btn btn-outline-dark" type="button" routerLink='/membership' routerLinkActive="active">Become A Member</button>
        <div class="welcome-left">
            <button class="btn btn-outline-dark" type="button" style="width: 200px;" routerLink='/membership'>Become A Member</button>
        </div>
        <div class="welcome-right">
            <button class="btn btn-outline-dark" type="button" style="width: 200px;" [routerLink]="['/booking']">Reserve</button>
        </div>-->
    </div>
</div>