<table *ngIf="boats" border="1">
  <thead>
    <tr>
      <th>Boat ID</th>
      <th>Boat Name</th>
      <th>Credit Per Hour</th>
      <th>Status</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Length</th>
      <th>Make</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of boats; let i=index;">
      <td>{{b.BoatId}}</td>
      <td>{{b.Name}}</td>
      <td>{{b.CreditPerHour}}</td>
      <td>{{b.Status}}</td>
      <td>{{b.Photo}}</td>
      <td>{{b.Description}}</td>
      <td>{{b.Length}}</td>
      <td>{{b.Make}}</td>
      <td>{{b.Year}}</td>
    </tr>
  </tbody>
</table>