<div class="container">

  <br>
  <br>

  <h1><strong>FAQ</strong></h1>

  
  <br>
  <br>

  <div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Do you offer interoductory sailing with a member or trainer?
            </a>
        </div>
        <div id="collapseOne" class="collapse show">
            <div class="card-body">
              The answer is a qualified "Yes" depending on availability of a skipper. Contact our Membership Officer and ask.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                I have never sailed. Can I join your co-op?
            </a>
        </div>
        <div id="collapseTwo" class="collapse">
            <div class="card-body">
              Yes, absolutely! We will train you to sail our boats on Semiahmoo Bay.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                On your membrship application you offer full, associate, and social memberships. Can  join as an associate my first year?
            </a>
        </div>
        <div id="collapseThree" class="collapse">
            <div class="card-body">
              No. Associate membership is only for full members who would like to take a break, but do not want to undergo the full training and initiation again.
            </div>
        </div>
    </div>

    <div class="card">
      <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            We are a couple. Do you offer a discount for couples?
          </a>
      </div>
      <div id="collapseFour" class="collapse">
          <div class="card-body">
            No, sorry. Our goal is to keep our membership fees low and provide the best sailing experience in the Lower Mainland. C-operative sailing is the best deal you will find and you get the added bonus of 100 plus friends to call up and sail with you!
          </div>
      </div>
  </div>

  <div class="card">
    <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          I’m a new member. Now What?
        </a>
    </div>
    <div id="collapseFive" class="collapse">
        <div class="card-body">
          New members will be telephoned by our Membership Officer. You will be given website passwords to explore the members area of the website, which contains lots of good information about the operation of our club. You will also be contacted by a Training Officer to set up your training. This  requires classroom training as well as the on-the-water training.
        </div>
    </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
        When can I meet other members?
      </a>
  </div>
  <div id="collapseSix" class="collapse">
      <div class="card-body">
        All guests and new members are welcome at our monthly meetings at the Rotary Field House in South Surrey Athletic Park, held every third Thursday of each month, except July, August and December. As a new member, the best way to meet others (and be offered opportunities to go sailing) is to come out and help with boat maintenance. The Preventative Maintenance day is scheduled every third Saturday of each month, from 08:00 to 11:00 hours at the end of the White Rock Pier.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
        When can I go sailing?
      </a>
  </div>
  <div id="collapseSeven" class="collapse">
      <div class="card-body">
        A new member will be given access to the members' area of the website, and the best way to go sailing is to contact other members on the membership list and ask! Most of us would rather go sailing for the afternoon than mow the grass or do other chores.  A trainer will be assigned to you, your new group will consist of 3 plus a trainer and between the four of you, you will make your training dates.
      </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
        When can I go see the boats?
      </a>
  </div>
  <div id="collapseEight" class="collapse">
      <div class="card-body">
        New members will be given the code to the gatehouse, and are encouraged to go down on their own and look over the boats. They are also encouraged to book a boat and spend time exploring, opening hatches and lockers and spend some time reading the binder on board which will contain information about the club, the boat and sailing.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
        How do I book a boat?
      </a>
  </div>
  <div id="collapseNine" class="collapse">
      <div class="card-body">
        New members will be given access to the Online Booking System, with their own password. Training on the booking system will be done as well in a classroom session.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
        Where can I find more information about sailing in the co-op?
      </a>
  </div>
  <div id="collapseTen" class="collapse">
      <div class="card-body">
        New members can explore the website. It is full of information and is being updated regularly. Ask another member, they will be more than happy to answer your questions.
      </div>
  </div>
</div>
    
<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
        Where do I find the information about training requirements?
      </a>
  </div>
  <div id="collapseEleven" class="collapse">
      <div class="card-body">
        There is a Training menu on the members page, with links to various aspects of training. This is a good place to start.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTweleve">
        Who do I talk to about the training that I need?
      </a>
  </div>
  <div id="collapseTweleve" class="collapse">
      <div class="card-body">
        Start by speaking to the Training Co-ordinator. He/she will be able to give you the times for classroom training and organize with you for on-the-water training with a training skipper.
      </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
        What sort of courses should I be taking?
      </a>
  </div>
  <div id="collapseThirteen" class="collapse">
      <div class="card-body">
        Even though we will train you to sail our boats, you will still need some basic courses. All sailors must have a Canadian Pleasure Craft Operators Card (PCOC). You should also consider taking either Canadian Yachting Association Basic Cruising or International Sail and Power Academy Day Skipper courses. Canadian Power and Sail Squadron "Basic Boating" is also a good course to take. You will also need to have a Restricted Radio Operators' Certificate (Maritime) for operating the VHF radio.  These certificates are not included in your membership fees and will cost extra.
      </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
        How much time do I have to do these courses?
      </a>
  </div>
  <div id="collapseFourteen" class="collapse">
      <div class="card-body">
        Since we are only training you to sail our own boats, the minimum you must have before you begin is the PCOC. The rest should be done as soon as practicable. Our training usually take three to four months, depending on your experience and aptitude. Some people are done in weeks, others prefer a more laid back approach.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
        Is there a test to become a sailing skipper?
      </a>
  </div>
  <div id="collapseFifteen" class="collapse">
      <div class="card-body">
        Yes. In order to be allowed to skipper one of our boats for day sailing in Semiahmoo Bay, you must have been recommended by your trainer as ready to be tested and then you must prove your ability by sailing with our Training Officer who will test you on your skills and knowledge.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
        When do I start practical training?
      </a>
  </div>
  <div id="collapseSixteen" class="collapse">
      <div class="card-body">
        We usually try to have a few classroom sessions in March and early April. By then, the weather has warmed up and trainers will take you out for practical sailing experience.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
        What study should I do to prepare?
      </a>
  </div>
  <div id="collapseSeventeen" class="collapse">
      <div class="card-body">
        Learn your basic terminology of a sailboat structure, of the sails and of the lines involved. It is like a foreign language, and if you have already some idea of what things are called, you will progress much more quickly. Learn some basic knots and PRACTICE them! Reef knot, bowline, clove hitch, figure eight knot and belaying (securing) to a cleat are all necessary. Check our website links to other sites which help explain some of these things.
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">
        What should I wear sailing?
      </a>
  </div>
  <div id="collapseEighteen" class="collapse">
      <div class="card-body">
        First, you need non-marking no slip shoes. It is a good idea to cover your toes on a sailboat, so open-toed sandals should be avoided. Wear a hat, bring a polar fleece jacket and a windbreaker. It's always colder on the water! Sunscreen is another must have. Use it!
      </div>
  </div>
</div>


  </div>

  <br>
  <br>
</div>