<h1  style="margin-bottom: 100px;">Login</h1>
<br>
<br>
<div class="login">
    <div class="container-fluid">
        <form (ngSubmit)="login()">
            <div class="row">
                <input id="username" type="text" placeholder="Username" name="username" [(ngModel)]="username" />
            </div>
            <br />
            <div class="row">
                <input id="password" type="password" placeholder="Password" name="password" [(ngModel)]="password" />
            </div>
            <div class="row">
                <button id="login" type="submit" class="btn btn-outline-dark">Login</button>
            </div>
        </form>
    </div>
</div>