#fleet-boat-label-feet-number {
    font-size: 36px;
    float: left;
}

ul {
  list-style-type: none;
  padding-left:0;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.topbot15 { margin-top:15px; margin-bottom:15px }


img {
    height: 240px;
    /* width: 180px; */
    border: 1px solid black
}

.fleet-boat-label {
    font-weight: 600
}

#fleet-boat-label-credit-number {
    font-size: 55px;
}
