<div class="container-fluid">
  <div *ngIf="boats" class="row">
    <div *ngFor="let b of boats; let i=index" class="col-md-4 topbot15">
      <div class="card h-100">
        <div class="card-header text-white" [ngClass]='applyCardHeaderStyle(b.length)'>
          <div id="fleet-boat-label-feet-number">{{b.length}}</div>
          <div>
            <div id="fleet-boat-label-feet-unit">ft</div>
            <div id="fleet-boat-label-feet-boat">BOAT</div>
          </div>
        </div>
        <img class="card-img-top" src="" alt="card boat image">
        <div class="card-body text-center">
          <h4 class="card-title">{{b.name}}</h4>
          <ul>
            <li><span class="fleet-boat-label">Status : </span><span [ngClass]='applyStatusStyle(b.status)'>{{b.status}}</span></li>
            <li><span class="fleet-boat-label">Make : </span>{{b.make}}</li>
            <li><span class="fleet-boat-label">Year : </span>{{b.year}}</li>
            <li>{{b.description}}</li>
          </ul>
          <div style="">
            <hr>
              <div>
                <span class="fleet-boat-label" id="fleet-boat-label"></span>
                <span id="fleet-boat-label-credit-number">{{b.creditsPerHour}}</span>
                <span class="fleet-boat-label" id="fleet-boat-label">Credit(s) per Hour</span>
              </div>
            <hr>
            <a [routerLink]="" class="btn btn-primary" (click)="onBook(i)">Book Online</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
