#signupModalTitle {
    background-color: #286090;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
}

.signup-container {
    margin-top: 20px;
}