<h1>Contact Us</h1>
<div id="contactus">
      <h3>Send us a message</h3>
    <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="email" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        <div class="form-group">
          <label for="emailAddress">First Name</label>
          <input type="text" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Email">
        </div>
        
        <fieldset class="form-group">
          <legend>Subject</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Membership
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Technical Support
            </label>
          </div>
          <div class="form-check disabled">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              General Inquiries
            </label>
          </div>
        </fieldset>
    
        <div class="form-group">
          <label for="exampleTextarea">Other</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      </form>

      <div>
          <h3>Verification</h3>
          <form>
              <div class="form-group">
                  <label for="verification">Please enter any two digits</label>
                  <input type="text" class="form-control input-small" id="verification" >
                </div>
          </form>
          <button class="btn" type="submit"class="btn btn-outline-dark">Submit</button>
        </div>

        <div id="info">
            <span>Or call us at:  (604) 682-3292</span>
        </div>
</div>
