/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px; 

    /*Copied from the old project*/
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }

 p {
    font-size: 100%;
    color: #849dbc;
}
h1 {
    color: #849dbc;
}

#footer {
    position: relative;
    bottom:0;
    width: 100%;
    margin-top: auto;
}
 /* To change font, or color of all text, make changes in 
    both tags.
*/

h1 {
    padding-left: 15px;
    padding-right: 15px;
}
 /* for components maybe unecessary*/
/*.component-content {
}*/
