/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px; 
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }

 p {
    font-size: 100%;
}
h1, h2, h3, h5, ul, ol{
    color: #849dbc;
}

p {
    color: #000;
}

ul.a {
    list-style-type: circle;
}





#footer {
    position: relative;
    bottom:0;
    width: 100%;
    margin-top: auto;
}